body {
	font-family: Helvetica;
	text-align: center;
}

.hero{
	color: white;
	background-image: url(images/the-flatiron-building.png);
}

h1 {
	font-size: 70px;
	font-weight: bold;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

.hero h2 {
	font-size: 23px;
}

.nav {
	color: white;
	font-size: 18px;
}

p {
	font-size: 14px;
}

.footer {
	text-align: left;
	color: white;
	font-size: 11px;
	background-color: dimgray;
}